数据库脚本.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw.cmd
/mvnw
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/.mvn/wrapper/maven-wrapper.jar
/xa/.mvn/wrapper/maven-wrapper.jar
/xa/.mvn/wrapper/maven-wrapper.properties
/xa/.mvn/wrapper/MavenWrapperDownloader.java
/xa/mvnw
/xa/mvnw.cmd
/xa-server1/.mvn/wrapper/maven-wrapper.jar
/xa-server2/.mvn/wrapper/maven-wrapper.jar
/xa-server1/.mvn/wrapper/maven-wrapper.properties
/xa-server2/.mvn/wrapper/maven-wrapper.properties
/xa-server1/.mvn/wrapper/MavenWrapperDownloader.java
/xa-server2/.mvn/wrapper/MavenWrapperDownloader.java
/xa-server1/mvnw
/xa-server2/mvnw
/xa-server1/mvnw.cmd
/xa-server2/mvnw.cmd
/tcc-server1/.mvn/wrapper/maven-wrapper.jar
/xa-server2/.mvn/wrapper/maven-wrapper.jar
/tcc-server1/.mvn/wrapper/maven-wrapper.properties
/tcc-server1/.mvn/wrapper/MavenWrapperDownloader.java
/tcc-server1/mvnw
/tcc-server1/mvnw.cmd
/tcc-server-1/.mvn/wrapper/maven-wrapper.jar
/tcc-server-2/.mvn/wrapper/maven-wrapper.jar
/tcc-server-1/.mvn/wrapper/maven-wrapper.properties
/tcc-server-2/.mvn/wrapper/maven-wrapper.properties
/tcc-server-1/.mvn/wrapper/MavenWrapperDownloader.java
/tcc-server-2/.mvn/wrapper/MavenWrapperDownloader.java
/tcc-server-1/mvnw
/tcc-server-2/mvnw
/tcc-server-1/mvnw.cmd
/tcc-server-2/mvnw.cmd
/eureka/.mvn/wrapper/maven-wrapper.jar
/tcc-server-1/.mvn/wrapper/maven-wrapper.jar
/tcc-server-2/.mvn/wrapper/maven-wrapper.jar
/eureka/.mvn/wrapper/maven-wrapper.properties
/eureka/.mvn/wrapper/MavenWrapperDownloader.java
/eureka/mvnw
/eureka/mvnw.cmd
/eureka/.mvn/wrapper/maven-wrapper.jar
/tcc-server-1/.mvn/wrapper/maven-wrapper.jar
/tcc-server-2/.mvn/wrapper/maven-wrapper.jar
/tcc-server-2/tcc-server-2-api/.mvn/wrapper/maven-wrapper.jar
/tcc-server-2/tcc-server-2-api/.mvn/wrapper/maven-wrapper.properties
/tcc-server-2/tcc-server-2-api/.mvn/wrapper/MavenWrapperDownloader.java
/tcc-server-2/tcc-server-2-api/mvnw
/tcc-server-2/tcc-server-2-api/mvnw.cmd
